<h1>Salesforce Accounts</h1>

<table class="table">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Type</th>
    <th>Industry</th>
    <th>Rating</th>
  </tr>
  {{#each records}}
    <tr>
      <td>{{Id}}</td>
      <td>{{Name}}</td>
      <td>{{Type}}</td>
      <td>{{Industry}}</td>
      <td>{{Rating}}</td>
    </tr>
  {{/each}}
</table>
