<h1>Salesforce Accounts</h1>

<table class="table">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Type</th>
    <th>Industry</th>
    <th>Rating</th>
  </tr>
  {{#each records}}
    <tr>
      <td>{{get 'id'}}</td>
      <td>{{get 'Name'}}</td>
      <td>{{get 'Type'}}</td>
      <td>{{get 'Industry'}}</td>
      <td>{{get 'Rating'}}</td>
    </tr>
  {{/each}}
</table>
